* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.page {
  background: url(/img/bg.png) no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

.page-tir {
  background: url(/img/bg-tir.png) no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

.header {
  margin-bottom: 82px;
}

.wrapper {
  max-width: 1185px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 15px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.navbar-phone-icon {
  margin-right: 10px;
}

.navbar-phone-link {
  text-decoration: none;
  color: #fff;
}

.navbar-phone-link-small {
  display: none;
}

.navbar-logo {
  margin-top: 25px;
}

ul {
  list-style-type: none;
}

.menu {
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  border-radius: 6px;
  line-height: 40px;
  z-index: 99;
}

.menu:active {
  color: #F04747;
}

.show-menu {
  display: block;
  margin: 0;
  padding: 6px 13px;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-phone-link:hover {
  color: #F04747;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.menu-open {
  display: none;
  background: none;
  border: none;
  margin: 25px 0 0;
}

.nav-link {
  color: #F04747;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.nav-item .active {
  border-bottom: 2px solid #F04747;
  padding: 5px 5px;
}

.nav {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.nav-item {
  color: #fff;
  padding: 7px 5px;
}

.nav-item:hover {
  color: #F04747;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: #F04747;
}

.nav-item:not(:last-child) {
  margin-right: 54px;
}

.main-tir {
  text-align: center;
}

.title-light {
  font-size: 36px;
  color: #fff;
  margin-bottom: 37px;
}

.description {
  color: #fff;
  line-height: 24px;
  margin-bottom: 70px;
}

.btn {
  padding: 14px 38px;
  background-color: #F04747;
  border-radius: 30px;
  color: #fff;
  margin-bottom: 226px;
  cursor: pointer;
  border: 1px solid transparent;
}

.btn:link,
.btn:visited {
  padding: 15px 40px;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #F04747;
  color: #fff;
}

.btn-animated {
  -webkit-animation: moveInBottom 4s ease-out;
          animation: moveInBottom 4s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 80px;
  max-width: 1170px;
}

.education {
  height: 250px;
  right: 100px;
}

.pop_up {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 2;
  -webkit-transform: translateY(-44.5%) scale(0);
          transform: translateY(-44.5%) scale(0);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.pop_up.active {
  -webkit-transform: translateY(0%) scale(100%);
          transform: translateY(0%) scale(100%);
  background-color: rgba(0, 0, 0, 0.4);
}

.pop_up_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.pop_up_body {
  margin: auto;
  width: 500px;
  background-color: #FFFFFF;
  border-radius: 20px;
  text-align: center;
  padding: 38px 15px 30px;
  position: relative;
}

.pop_up_close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 21px;
  color: #F04747;
  cursor: pointer;
}

.pop_up_description_link {
  color: black;
  font-weight: 500;
}

.pop_up_description_link:hover {
  color: #F04747;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.pop_up_description {
  text-align: left;
  line-height: 1.5;
}

.forestBuggy {
  margin-right: 50px;
  margin-left: 200px;
}

.education .title-dark {
  margin: 35px 0 35px 0;
}

.education-tir .title-dark {
  margin: 35px 0 35px 0;
}

.education .description-dark {
  margin-bottom: 50px;
  line-height: 25px;
}

.education-tir .description-dark {
  margin-bottom: 50px;
  line-height: 24px;
}

.section2 {
  background-color: #F04747;
}

.section2 .wrapper .title-light {
  padding-top: 30px;
  text-align: center;
}

.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.reasons-item:nth-child(2) {
  margin-top: 100px;
}

.reasons-item-tir:last-child {
  margin-top: 100px;
}

.reasons-item {
  text-align: center;
}

.reasons-item-tir {
  text-align: center;
}

.title-light img {
  margin: 40px 0 30px;
}

.section3 {
  text-align: center;
}

.section3 img {
  margin: 30px 0 30px;
}

.card {
  width: 515px;
  height: 475px;
  background-color: #fff;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.11);
  text-align: center;
}

.card-price {
  font-weight: 700;
  margin-bottom: -15px;
}

.card img {
  margin-top: 30px;
  height: 250px;
  width: 270px;
  border-radius: 30px;
}

.tir-img {
  padding: 45px 0 38px;
}

.tir-img-archery {
  padding: 45px 0 70px;
}

.service {
  font-size: 20px;
  text-align: center;
  padding: 120px 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 70px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 430px;
}

.swiper-button-prev {
  margin-left: 200px;
  color: #F04747;
}

.swiper-button-next {
  margin-right: 200px;
  color: #F04747;
}

.white {
  color: #FFFFFF;
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}

.element.style {
  margin-right: -103px;
}

.section3 {
  margin-bottom: 50px;
}

.wrapper-back {
  background-color: #F04747;
  width: 100%;
  padding: 40px 550px 0 30px;
  border-radius: 6px;
}

.map {
  position: absolute;
  margin-top: 126px;
  right: 120px;
  border-radius: 6px;
  width: 500px;
  height: 500px;
}

input {
  margin-bottom: 26px;
  color: #fff;
  background: none;
  height: 46px;
  padding: 0 25px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  outline: none;
}

input:first-child {
  margin-top: 40px;
}

input::-webkit-input-placeholder {
  color: #ffffff;
}

input::-moz-placeholder {
  color: #ffffff;
}

/* Firefox 19+ */
input:-moz-placeholder {
  color: #ffffff;
}

/* Firefox 18- */
input:-ms-input-placeholder {
  color: #ffffff;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px #ff00dd;
          box-shadow: 0 0 15px #ff00dd;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
}

.btn-form {
  background-color: #fff;
  padding: 10px 32px;
  height: 100%;
  color: black;
  border-radius: 6px;
  margin-bottom: 75px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

.btn-form:hover {
  background-color: #F04747;
  color: #FFFFFF;
  border: 1px solid #fff;
}

.btn-form:active {
  background-color: #fff;
  color: black;
  -webkit-transition: ease .1s;
  transition: ease .1s;
}

.section5 {
  margin-bottom: 30px;
}

.footer-bg {
  background-color: #605E5E;
  padding: 40px 40px;
}

.footer-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.contacts-link:hover {
  color: #F04747;
}

span {
  color: #F04747;
  margin-right: 13px;
}

label > span {
  color: #fff;
}

.footer-title {
  display: block;
  color: #fff;
  margin-right: 40px;
}

.title-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.title-position a {
  display: block;
}

.title-position img {
  margin-right: 20px;
}

.title-position img:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 1140px;
  }
}

@media screen and (max-width: 1199px) {
  .wrapper {
    width: 960px;
  }
  .content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    width: 725px;
  }
  .nav-item:not(:last-child) {
    margin-right: 30px;
  }
  .navbar-phone-link {
    display: none;
  }
  .navbar-phone-link-small {
    display: block;
    margin: 5px 0 0 0;
    margin-right: -30px;
  }
  .forestBuggy {
    margin-right: 50px;
    margin-left: 0;
  }
  .map {
    position: absolute;
    margin-top: 100px;
    right: -11px;
    border-radius: 6px;
    width: 415px;
    height: 400px;
  }
  .footer-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    width: 532px;
  }
  .navbar-phone-link {
    display: block;
  }
  .nav {
    display: none;
  }
  .navbar-phone-link-small {
    display: none;
  }
  .menu-open {
    display: block;
  }
  .forestBuggy {
    width: 300px;
  }
  .archery {
    width: 215px;
  }
  .education .title-dark {
    font-size: 20px;
    margin: 20px 0;
  }
  .education-tir .title-dark {
    font-size: 20px;
    margin: 20px 0;
  }
  .education .description-dark {
    font-size: 10px;
    line-height: 15px;
  }
  .education-tir .description-dark {
    font-size: 10px;
    line-height: 15px;
  }
  .btn {
    padding: 6px 15px;
    font-size: 10px;
    margin-bottom: 150px;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
  .map {
    display: none;
  }
  .btn-form {
    background-color: #fff;
    height: 100%;
    width: 100%;
    color: black;
    border-radius: 6px;
    margin-bottom: 75px;
  }
  .wrapper-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-position {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 575px) {
  .wrapper {
    width: 100%;
    padding: 0 15px;
  }
  .forestBuggy {
    width: 200px;
    margin-right: 0;
  }
  .education .description-dark {
    margin-bottom: 18px;
  }
  .navbar-phone-link {
    display: none;
  }
  .reasons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reasons-item:nth-child(2) {
    margin: 0;
  }
  .reasons-item:nth-child(2) {
    margin-top: 0;
  }
  .reasons-item-tir:last-child {
    margin-top: 0;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: block;
  }
  .swiper-button-prev {
    margin: 0;
  }
  .swiper-button-next {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .forestBuggy {
    width: 150px;
    margin-right: 0;
  }
  .education .title-dark {
    font-size: 15px;
    margin: 15px 0;
  }
  .education .description-dark {
    font-size: 8px;
    line-height: 12px;
    margin: 8px 0 12px;
  }
  .btn {
    padding: 6px 15px;
    font-size: 12px;
    margin-bottom: 120px;
  }
  .education {
    height: 200px;
  }
  .footer-bg {
    padding: 30px 0;
  }
  .btn-form {
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */