* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.page {
  background: url(/img/bg.png) no-repeat;
  background-size: cover;
}
.page-tir {
  background: url(/img/bg-tir.png) no-repeat;
  background-size: cover;
}

.header {
  margin-bottom: 82px;
}

.wrapper {
  max-width: 1185px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-phone {
  display: flex;
  margin-top: 20px;
}
.navbar-phone-icon {
  margin-right: 10px;
}
.navbar-phone-link {
  text-decoration: none;
  color: #fff;
}
.navbar-phone-link-small {
  display: none;
}
.navbar-logo {
  margin-top: 25px;
}

ul {
  list-style-type: none;
}

.menu {
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  border-radius: 6px;
  line-height: 40px;
  z-index: 99;
}

.menu:active {
  color: #F04747;
}

.show-menu {
  display: block;
  margin: 0;
  padding: 6px 13px;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-phone-link:hover {
  color: #F04747;
  transition: ease 0.5s;
}

.menu-open {
  display: none;
  background: none;
  border: none;
  margin-top: 25px;
}

.nav-link {
  color: #F04747;
  transition: ease 0.5s;
}

.nav-item .active {
  border-bottom: 2px solid #F04747;
  padding: 5px;
}

.nav {
  margin-top: 40px;
  display: flex;
  list-style-type: none;
  box-sizing: inherit;
}
.nav-item {
  color: #fff;
  padding: 7px 5px;
}
.nav-item:hover {
  color: #F04747;
}
.nav-link {
  text-decoration: none;
  color: #fff;
}
.nav-link:hover {
  color: #F04747;
}

.nav-item:not(:last-child) {
  margin-right: 54px;
}

.burger {
  width: 30px;
}

.main-tir {
  text-align: center;
}

.title-light {
  font-size: 36px;
  color: #fff;
  margin-bottom: 37px;
}

.description {
  display: block;
  max-width: 400px;
  color: #fff;
  line-height: 24px;
  margin-bottom: 70px;
}

.main-tir .description {
  margin: auto;
}

.btn {
  padding: 14px 38px;
  background-color: #F04747;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  margin-bottom: 70px;
}

.btn:link,
.btn:visited {
  padding: 15px 40px;
  display: inline-block;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #F04747;
  color: #fff;
}

.btn-animated {
  -webkit-animation: moveInBottom 4s ease-out;
          animation: moveInBottom 4s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.content {
  display: flex;
  justify-content: space-between;
  padding: 0 218px;
  max-width: 1170px;
}

.pop_up {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 2;
  transform: translateY(-44.5%) scale(0);
  transition: 0.4s ease-in-out;
}

.pop_up.active {
  transform: translateY(0%) scale(100%);
  background-color: rgba(0, 0, 0, 0.4);
}

.pop_up_container {
  display: flex;
  width: 100%;
  height: 100%;
}

.pop_up_body {
  margin: auto;
  width: 500px;
  background-color: #FFFFFF;
  border-radius: 20px;
  text-align: center;
  padding: 38px 15px 30px;
  position: relative;
}

.pop_up_close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 21px;
  color: #F04747;
  cursor: pointer;
}

.pop_up_description_link {
  color: black;
  font-weight: 500;
}

.pop_up_description_link:hover {
  color: #F04747;
  transition: 0.3s ease;
}

.pop_up_description {
  text-align: left;
  line-height: 1.5;
}

.education .title-dark {
  margin: 35px 0;
}

.education-tir .title-dark {
  margin: 35px 0;
}

.forestBuggy {
  margin-right: 50px;
}

.education .description-dark {
  display: block;
  max-width: 250px;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
}

.education-tir .description-dark {
  margin-bottom: 50px;
  line-height: 24px;
}

.section2 {
  background-color: #F04747;
}

.section2 .wrapper .title-light {
  text-align: center;
}

.reasons {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.reasons-item:nth-child(2) {
  margin-top: 100px;
}

.reasons-item-tir:last-child {
  margin-top: 100px;
}

.reasons-item {
  text-align: center;
}
.reasons-item-tir {
  text-align: center;
}

.title-light img {
  margin: 40px 0 30px;
}

.section3 {
  text-align: center;
}

.section3 img {
  margin: 30px 0;
}

.card {
  width: 515px;
  height: 475px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.11);
  text-align: center;
}
.card-price {
  font-weight: 700;
  margin-bottom: -15px;
}

.card img {
  margin-top: 30px;
  height: 250px;
  width: 270px;
  border-radius: 30px;
}

.tir-img {
  padding: 45px 0 38px;
}
.tir-img-archery {
  padding: 45px 0 70px;
}

.service {
  font-size: 20px;
  text-align: center;
  padding: 120px 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 70px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 430px;
}

.swiper-button-prev {
  margin-left: 200px;
  color: #F04747;
}

.swiper-button-next {
  margin-right: 200px;
  color: #F04747;
}

.white {
  color: #FFFFFF;
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}

.element.style {
  margin-right: -103px;
}

.section3 {
  margin-bottom: 50px;
}

.wrapper-back {
  background-color: #F04747;
  width: 100%;
  padding: 40px 550px 0 30px;
  border-radius: 6px;
  margin-bottom: 100px;
}

.map {
  position: absolute;
  margin-top: 126px;
  right: 120px;
  border-radius: 6px;
  width: 500px;
  height: 500px;
}

input {
  margin-bottom: 26px;
  color: #fff;
  background: none;
  height: 46px;
  padding: 0 25px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  outline: none;
}

input:first-child {
  margin-top: 40px;
}

input::-webkit-input-placeholder {
  color: #ffffff;
}

input::-moz-placeholder {
  color: #ffffff;
}

/* Firefox 19+ */
input:-moz-placeholder {
  color: #ffffff;
}

/* Firefox 18- */
input:-ms-input-placeholder {
  color: #ffffff;
}

.form__input._error {
  box-shadow: 0 0 15px rgb(255, 0, 221);
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.btn-form {
  background-color: #fff;
  padding: 10px 32px;
  height: 100%;
  width: 236px;
  color: black;
  border-radius: 6px;
  margin-bottom: 75px;
  flex: none;
  transition: ease 0.5s;
}

.btn-form:hover {
  background-color: #F04747;
  color: #FFFFFF;
  border: 1px solid #fff;
}

.btn-form:active {
  background-color: #fff;
  color: black;
  transition: ease 0.1s;
}

.section5 {
  margin-bottom: 30px;
}

.footer-bg {
  background-color: #605E5E;
  padding: 40px;
}

.footer-position {
  display: flex;
  justify-content: space-between;
}

.contacts-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.contacts-link:hover {
  color: #F04747;
}

span {
  color: #F04747;
  margin-right: 13px;
}

label > span {
  color: #fff;
}

.footer-title {
  display: block;
  color: #fff;
  margin-right: 40px;
}

.title-position {
  display: flex;
  align-items: center;
  width: 200px;
}

.title-position a {
  display: block;
}

.gallery-title {
  text-align: center;
}

.title-position img {
  margin-right: 20px;
}

.title-position img:hover {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */