$accent: #F04747;
$white: #fff;
$grey: #605E5E;
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.page {
    background: url(/img/bg.png) no-repeat;
    background-size: cover;
    margin-bottom: 80px;
    &-tir {
        background: url(/img/bg-tir.png) no-repeat;
        background-size: cover;
        margin-bottom: 80px;
    }
}

.header {
    margin-bottom: 82px;
}

.wrapper {
    max-width: 1185px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-phone {
        display: flex;
        margin-top: 20px;
        &-icon {
            margin-right: 10px;
        }
        &-link {
            text-decoration: none;
            color: $white;
            &-small {
                display: none;
            }
        }
    }
    &-logo {
        margin-top: 25px;
    }
}

ul {
    list-style-type: none;
}

.menu {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    border-radius: 6px;
    line-height: 40px;
    z-index: 99;
}

.menu:active {
    color: $accent;
}

.show-menu {
    display: block;
    margin: 0;
    padding: 6px 13px;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-phone-link:hover {
    color: $accent;
    transition: ease 0.5s;
}

.menu-open {
    display: none;
    background: none;
    border: none;
    margin: 25px 0 0;
}

.nav-link {
    color: $accent;
    transition: ease 0.5s;
}

.nav-item .active {
    border-bottom: 2px solid $accent;
    padding: 5px 5px;
}

.nav {
    margin-top: 40px;
    display: flex;
    list-style-type: none;
    box-sizing: inherit;
    &-item {
        // margin-right: 54px;
        color: $white;
        padding: 7px 5px;
    }
    &-item:hover {
        color: $accent;
    }
    &-link {
        text-decoration: none;
        color: $white;
    }
    &-link:hover {
        color: $accent;
    }
}

.nav-item:not(:last-child) {
    margin-right: 54px;
}

.burger {
    width: 30px;
}

// NAVBAR-----------------------------------------------------------------------------------
.main-tir {
    text-align: center;
}

.title-light {
    font-size: 36px;
    color: $white;
    margin-bottom: 37px;
}

.description {
    display: block;
    max-width: 400px;
    color: $white;
    line-height: 24px;
    margin-bottom: 70px;
}

.main-tir .description {
    margin: auto;
}

.btn {
    padding: 14px 38px;
    background-color: $accent;
    border-radius: 30px;
    color: $white;
    margin-bottom: 226px;
    cursor: pointer;
    border: 1px solid transparent;
}

.btn:link,
.btn:visited {
    padding: 15px 40px;
    display: inline-block;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: $accent;
    color: #fff;
}

.btn-animated {
    animation: moveInBottom 4s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.content {
    display: -webkit-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 218px;
    max-width: 1170px;
}

// Здесь я сделал правильное позиционирование, но нужно еще разобраться, что здесь  лишнее
// А еще нужно сделать адаптив страницы
// .education {
//     height: 250px;
//     right: 100px;
// }
// .section1 {
//     margin-bottom: 65px;
// }
// POPUP--------------------------------------------------------------------------------
.pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
}

.pop_up.active {
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, 0.4);
}

.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body {
    margin: auto;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    padding: 38px 15px 30px;
    position: relative;
}

.pop_up_close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    color: $accent;
    cursor: pointer;
}

.pop_up_description_link {
    color: black;
    font-weight: 500;
}

.pop_up_description_link:hover {
    color: $accent;
    transition: .3s ease;
}

.pop_up_description {
    text-align: left;
    line-height: 1.5;
}

// POPUP--------------------------------------------------------------------------------
.education .title-dark {
    margin: 35px 0 35px 0;
}

.education-tir .title-dark {
    margin: 35px 0 35px 0;
}

.forestBuggy {
    margin-right: 50px;
}

.education .description-dark {
    display: block;
    max-width: 250px;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.education-tir .description-dark {
    margin-bottom: 50px;
    line-height: 24px;
}

.section2 {
    background-color: $accent;
}

.section2 .wrapper .title-light {
    text-align: center;
}

.reasons {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.reasons-item:nth-child(2) {
    margin-top: 100px;
}

.reasons-item-tir:last-child {
    margin-top: 100px;
}

.reasons-item {
    text-align: center;
    &-tir {
        text-align: center;
    }
}

.title-light img {
    margin: 40px 0 30px
}

.section3 {
    text-align: center;
}

.section3 img {
    margin: 30px 0 30px;
}

// Карточка товара--------------------------------------------------------------------------------------------------------------------------------------------
.card {
    width: 515px;
    height: 475px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.11);
    text-align: center;
    &-price {
        font-weight: 700;
        margin-bottom: -15px;
    }
}

.card img {
    margin-top: 30px;
    height: 250px;
    width: 270px;
    border-radius: 30px;
}

.tir-img {
    padding: 45px 0 38px;
    &-archery {
        padding: 45px 0 70px;
    }
}

.service {
    font-size: 20px;
    text-align: center;
    padding: 120px 0;
}

// SWIPER----------------------------------------------------------------------------------
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 70px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 430px;
}

.swiper-button-prev {
    margin-left: 200px;
    color: $accent;
}

.swiper-button-next {
    margin-right: 200px;
    color: $accent;
}

.white {
    color: #FFFFFF;
}

.swiper-container {
    width: 100%;
    overflow: hidden;
}

.element.style {
    margin-right: -103px;
}

.section3 {
    margin-bottom: 50px;
}

.wrapper-back {
    background-color: $accent;
    width: 100%;
    padding: 40px 550px 0 30px;
    border-radius: 6px;
    margin-bottom: 100px;
}

.map {
    position: absolute;
    margin-top: 126px;
    right: 120px;
    border-radius: 6px;
    width: 500px;
    height: 500px;
}

input {
    margin-bottom: 26px;
    color: $white;
    background: none;
    height: 46px;
    padding: 0 25px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    outline: none;
}

input:first-child {
    margin-top: 40px;
}

input::-webkit-input-placeholder {
    color: #ffffff;
}

input::-moz-placeholder {
    color: #ffffff;
}


/* Firefox 19+ */

input:-moz-placeholder {
    color: #ffffff;
}


/* Firefox 18- */

input:-ms-input-placeholder {
    color: #ffffff;
}

.form__input._error {
    box-shadow: 0 0 15px rgb(255, 0, 221);
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.btn-form {
    background-color: #fff;
    padding: 10px 32px;
    height: 100%;
    width: 236px;
    color: black;
    border-radius: 6px;
    margin-bottom: 75px;
    flex: none;
    transition: ease .5s;
}

.btn-form:hover {
    background-color: $accent;
    color: #FFFFFF;
    border: 1px solid $white;
}

.btn-form:active {
    background-color: #fff;
    color: black;
    transition: ease .1s;
}

.section5 {
    margin-bottom: 30px;
}

.footer-bg {
    background-color: $grey;
    padding: 40px 40px;
}

.footer-position {
    display: flex;
    justify-content: space-between;
}

.contacts-link {
    display: block;
    text-decoration: none;
    color: $white;
}

.contacts-link:hover {
    color: $accent;
}

span {
    color: $accent;
    margin-right: 13px;
}

label>span {
    color: $white;
}

.footer-title {
    display: block;
    color: $white;
    margin-right: 40px;
}

.title-position {
    display: flex;
    align-items: center;
    width: 200px;
}

.title-position a {
    display: block;
}

.title-position img {
    margin-right: 20px;
}

.title-position img:hover {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        width: 1140px;
    }
}

@media screen and (max-width: 1199px) {
    .wrapper {
        width: 960px;
    }
    .content {
        justify-content: space-between;
        padding: 0 100px;
    }
    .forestBuggy {
        margin-right: 50px;
        margin-left: 0;
    }
    .education .description-dark {
        font-size: 14px;
        line-height: 1.5;
    }
    .education {
        width: 201px;
    }
    .map {
        right: 53px;
    }
}

@media screen and (max-width: 991px) {
    .wrapper {
        width: 725px;
    }
    .content {
        justify-content: space-between;
        padding: 0;
        margin-bottom: 60px;
    }
    .nav-item:not(:last-child) {
        margin-right: 30px;
    }
    .navbar-phone-link {
        display: none;
    }
    .navbar-phone-link-small {
        display: block;
        margin: 5px 0 0 0;
        margin-right: -30px;
    }
    .forestBuggy {
        margin-right: 50px;
        margin-left: 0;
    }
    .education .description-dark {
        font-size: 14px;
        line-height: 1.5;
    }
    .map {
        position: absolute;
        margin-top: 137px;
        right: 25px;
        border-radius: 6px;
        width: 400px;
        height: 430px;
    }
    .footer-position {
        display: flex;
        justify-content: space-between;
    }
    .contacts {
        margin-left: 30px;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        width: 532px;
    }
    .navbar-phone-link {
        display: block;
    }
    .nav {
        display: none;
    }
    .navbar-phone-link-small {
        display: none;
    }
    .block_img {
        display: block;
        margin: 0 auto;
    }
    .main .description {
        text-align: justify;
        margin: 0 auto;
    }
    .menu-open {
        display: block;
    }
    .forestBuggy {
        width: 250px;
    }
    .archery {
        width: 215px;
    }
    .education .description-dark {
        font-size: 14px;
        line-height: 1.5;
    }
    .education .title-dark {
        font-size: 20px;
        margin: 20px 0;
    }
    .education-tir .title-dark {
        font-size: 20px;
        margin: 20px 0;
    }
    .education-tir .description-dark {
        font-size: 10px;
        line-height: 15px;
    }
    .btn {
        display: block;
        padding: 10px 28px;
        font-size: 14px;
        margin: 30px auto;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none;
    }
    .map {
        display: none;
    }
    .btn-form {
        background-color: #fff;
        height: 100%;
        width: 100%;
        color: black;
        border-radius: 6px;
        margin-bottom: 75px;
        padding: 15px;
        font-size: 16px;
    }
    .title-light {
        text-align: center;
    }
    .wrapper-back {
        display: flex;
        flex-direction: column;
        padding: 30px;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-position {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 575px) {
    .wrapper {
        width: 100%;
        padding: 0 15px;
    }
    .forestBuggy {
        display: non;
    }
    .education .description-dark {
        margin-bottom: 18px;
    }
    .navbar-phone-link {
        display: none;
    }
    .reasons {
        flex-direction: column;
    }
    .reasons-item:nth-child(2) {
        margin: 0;
    }
    .reasons-item:nth-child(2) {
        margin-top: 0;
    }
    .reasons-item-tir:last-child {
        margin-top: 0;
    }
    .description {
        margin: 40px auto
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: block;
    }
    .swiper-button-prev {
        margin: 0;
    }
    .swiper-button-next {
        margin: 0;
    }
}

@media screen and (max-width: 520px) {
    .forestBuggy {
        display: none;
    }
    .education .title-dark {
        font-size: 18px;
        margin: 18px 0;
        text-align: center;
    }
    .content {
        margin: 0 auto;
        padding: 0 0 50px 0;
        align-content: center;
    }
    .education {
        display: flex;
        flex-direction: column;
    }
    .education_block_img {
        display: block;
        margin: 0 auto;
        width: 30px;
    }
    .education .description-dark {
        text-align: justify;
        font-size: 14px;
        line-height: 1.3;
        margin: 8px 0 52px;
    }
    .btn {
        padding: 10px 28px;
        font-size: 14px;
        display: block;
        margin: 70px auto;
    }
    .education {
        height: 299px;
        align-content: center;
        margin: 0 auto;
    }
    .education .btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 400px) {
    .forestBuggy {
        display: none;
    }
    .education .title-dark {
        font-size: 18px;
        margin: 18px 0;
        text-align: center;
    }
    .content {
        margin: 0 auto;
        padding: 0 0 50px 0;
        align-content: center;
    }
    .education {
        display: flex;
        flex-direction: column;
    }
    .education_block_img {
        display: block;
        margin: 0 auto;
        width: 30px;
    }
    .education .description-dark {
        text-align: justify;
        font-size: 14px;
        line-height: 1.3;
        margin: 8px 0 52px;
    }
    .btn {
        padding: 10px 28px;
        font-size: 14px;
        display: block;
        margin: 70px auto;
    }
    .education {
        height: 299px;
        align-content: center;
        margin: 0 auto;
    }
    .education .btn {
        margin: 0 auto;
    }
    .footer-bg {
        padding: 30px 0;
    }
    .btn-form {
        margin-bottom: 40px;
    }
    .block_img {
        display: block;
        margin: 0 auto;
    }
    .main .description {
        text-align: justify;
    }
}